html {
    width: 1440px;
    height: 800px;
}

body {
    background-position: left top;
    background-image: url(./images/bg-desktop.svg);
    background-color: hsl(257, 40%, 49%);
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    color: #FFF;
    font-family: "Open Sans", sans-serif;
    display: flex;
    flex-direction: column;
}

header {
    margin: 0px;
    padding : 0px 75px;
    height: 190px;
    display: inherit;
    align-items: center;
}

.hero {
    margin: 5px 0;
    padding: 0 75px;
    height: 500px;
    display: inherit;
    align-items: center;
    justify-content: space-between;
}


.hero-figure {
    margin: 0;
    padding: 0 35px 0 0;
    align-items: center;
}

.hero-details {
    display: inherit;
    height: inherit;
    flex-direction: column;
    align-items: flex-start;
}

.hero-title {
    margin: 20px 0;
    font-size: 50px;
    font-weight: 700;
}

.hero-description {
    margin: 0;
    font-size: 20px;
}

.hero-button {
    background-color: #FFF;
    font-size: 20px;
    color: hsl(228, 45%, 44%);
    margin: 25px 0;
    padding: 15px 55px;
    border-radius: 30px;
    border-style: solid;
}

footer {
    margin: 0px;
    padding: 0 75px;
    display: inherit;
    justify-content: flex-end;
    height: 100px;
}

footer .footer-icons {
    display: inherit;
    align-items: center;
}

.footer-icon {
    margin: 7px;
    padding: 0;
    width: 40px;
    height: 40px;
    font-size: 1em;
    border: 1px solid #FFF;
    border-radius: 100px;
    display: inherit;
    align-items: center;
    justify-content: center;
}

.footer-icon a {
    color: #FFF;
}

@media only screen and (max-width: 375px) {
    html {
        width: 375px;
        height: 800px;
        border: 1px solid red;
    }

    body {
        width: inherit;
        background-image: url(./images/bg-mobile.svg);
    }

    header {
        padding : 0 10%;
        height: 120px;
        align-items: center;
    }

    header img {
        width: 45%;
    }

    .hero {
        width: 80%;
        height: 600px;
        padding: 0 10%;
        flex-direction: column;
        align-items: center;
    }

    .hero-figure{
        width: 100%;
        padding: 0;
    }

    .hero-figure img {
        width: 100%;
    }

    .hero-details {
        display: inherit;
        height: inherit;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    
    .hero-title {
        margin: 20px 0;
        font-size: 20px;
        font-weight: 700;
        text-align: center;
    }
    
    .hero-description {
        margin: 0;
        font-size: 15px;
    }
    
    .hero-button {
        background-color: #FFF;
        font-size: 20px;
        color: hsl(228, 45%, 44%);
        margin: 25px 0;
        padding: 15px 55px;
        border-radius: 30px;
        border-style: solid;
        box-shadow: 2px 2px 5px rgb(66, 66, 66);
    }

    footer {
        display: none;
        margin: 0px;
        padding: 0 75px;
        justify-content: flex-end;
        height: 100px;
    }
}